<body>
    
<form action="/create" class= "form" method= "post">

<label for="poem" class="form item">Poem
    <br>
<textarea type="text" name="poem" value= {{poem}}></textarea>
</label>
<br>
<br>

<label for="author" class="form item">Author
    <br>
<input type="text" name="author" value= {{author}}>
</label>
<br>
<br>

<label for="region" class="form item">Region
    <br>
<input type="text"name="region" value= {{region}}>
</label>
<br>
<br>

<label for="year" class="form item">Year
    <br>
<input type="text" name="year" value= {{year}}>
</label>
<br>
<br>
<button class="btn" type="submit">Submit</button>

</form>



</body>