<body>
    
    
<h1>Add your Poem here</h1>
<form action="/new" method= "post">

<label for="poem">
poem
<input type="text" name= "poem" value="{{poem}}">
</label>
<br>

<label for="author">
author
<input type="text" name= "author" value="{{author}}">
</label>
<br>

<label for="region">
region
<input type="text" name= "region" value= "{{region}}">
</label>
<br>

<label for="year">
year
<input type="text" name= "year" value = "{{year}}">
</label>
<input type="submit" value= "submit">
<br>


</form>




</body>